@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-weight: 300;
}

body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-weight: 300;
}

body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}

body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}

body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-weight: 300;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    background: #8558a3;
    background: linear-gradient(to bottom right, #a35b84 0%, #95b3e3 100%);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper.form-success .container h1 {
    -webkit-transform: translateY(85px);
    transform: translateY(85px);
}

.container {
    max-width: 500px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
}

.container h1 {
    font-size: 30px;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    font-weight: 200;
}

form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: "Source Sans Pro", sans-serif;
    box-sizing:border-box;
    outline: 0;
    line-height:1.5;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
}

form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
    background-color: #ccc3ee;
    color: #6f499c;
}

form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: #ff55c1;
    font-family: "Source Sans Pro", sans-serif;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    border-radius: 3px;
    width: 300px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

a:link {
    text-decoration: none;
    color: #f9f8ff;
}

a:visited {
    text-decoration: none;
    color: #f9f8ff;
}

a:hover {
    text-decoration: none;
    color: #ff7ad0;
}

a:active {
    text-decoration: none;
    color: #ff7ad0;
}

.gray{
    background-color: #636363;
}

.green{
    background-color: #009802;
}

.red{
    background-color: #a5151a;
}
